@page "/automations"
@using NeoConnect
@attribute [StreamRendering]

<PageTitle>Automations</PageTitle>

<h1>Automations</h1>

<div class="row">
    <div class="col-md-2 mt-4">
        <button class="btn btn-primary mr-2"><i class="oi oi-arrow-circle-bottom">&nbsp;</i>Warm Weather Hold</button>
     </div>

     <div class="row">
        <div class="col-md-2 mt-4">
            <button class="btn btn-primary mr-2"><i class="oi oi-arrow-circle-top">&nbsp;</i>Cold Bathroom Boost</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mt-4">
            <button class="btn btn-primary mr-2"><i class="oi oi-data-transfer-upload">&nbsp;</i>Run Data Collection</button>
        </div>
    </div>
</div>

@code {    
}
