@page "/fetchdata"

<PageTitle>Heating Report</PageTitle>

@using NeoConnect.Data
@inject ReportDataController ReportDataController


@if (grid == null || headings == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <h2>
        <button class="btn btn-primary" @onclick="DecrDate"> - </button>
        @dateToDisplay.ToString("dd MMM yyyy")
        <button class="btn btn-primary" @onclick="IncrDate"> + </button>
    </h2>

    <div id="heating-table">
        <table class="table">
            <tbody>
                @for (var i = 0; i < grid.GetLength(0); i++)
                {
                    <tr>
                        <th class="room">@grid[i, 0]</th>
                        @for (var j = 1; j < grid.GetLength(1); j++)
                        {
                            <td class="heat @GetStatus(@grid[i, j])">&nbsp;</td>
                        }
                    </tr>
                }
                <tr>
                    <th></th>
                    @for (var i = 0; i < headings.Length; i++)
                    {

                        <th colspan="4">@headings[i]</th>
                    }
                </tr>
            </tbody>
        </table>
    </div>
}

@code {
    private string[,]? grid;
    private string[]? headings;
    private DateTime dateToDisplay;

    protected override async Task OnInitializedAsync()
    {
        dateToDisplay = DateTime.Today;
        await LoadData();
    }

    protected async Task IncrDate()
    {
        if (dateToDisplay != DateTime.Today)
        {
            dateToDisplay = dateToDisplay.AddDays(1);
            await LoadData();
        }
    }

    protected async Task DecrDate()
    {
        dateToDisplay = dateToDisplay.AddDays(-1);
        await LoadData();
    }

    protected async Task LoadData()
    {
        var devices = await ReportDataController.GetDeviceData(dateToDisplay);

        // build the grid
        grid = new string[devices.Count(), 97];
        headings = new string[24];
        int i = 0;
        foreach (var device in devices)
        {
            grid[i, 0] = GetDeviceName(device.Key);

            int j = 1;
            foreach (var val in device.OrderBy(d => d.Time))
            {
                //pad
                while (j - 1 < val.Slice)
                {
                    grid[i, j] = "-1";
                    j++;
                }

                grid[i, j] = val.State.ToString();
                j++;
            }

            //pad to end
            while (j <= 96)
            {
                grid[i, j] = "-1";
                j++;
            }

            i++;
        }

        var times = dateToDisplay;
        for (int k = 0; k < 24; k++)
        {
            headings[k] = times.ToString("HH:mm");
            times = times.AddHours(1);
        }
    }

    private string GetDeviceName(int id)
    {
        switch (id)
        {
            case 1: return "Study";
            case 2: return "Hall";
            case 3: return "Kitchen";
            case 4: return "Hot Water";
            case 5: return "WW";
            case 6: return "Child's Rm";
            case 7: return "Guest Rm";
            case 8: return "Master Rm";
            case 9: return "Living Rm";
            case 10: return "Landing";
            case 11: return "Towel Rail";
            case 12: return "Bathroom";
            case 13: return "Utility";
            case 14: return "Shower";
            case 15: return "Ensuite";
            case 16: return "Loft";
            default: return "(unknown)";
        }
    }

    protected string GetStatus(string statusCode)
    {
        switch (statusCode)
        {
            case "2":
                return "pre";
            case "1":
                return "on";
            case "0":
                return "off";
            default:
                return "";
        }
    }
}
