@page "/fetchdata"

<PageTitle>Live Data</PageTitle>

@using NeoConnect.Data
@inject IHeatingService HeatingService

<h1>Live Data</h1>

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table id="live-data" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actual Temp</th>
                <th>Set Temp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in devices)
            {
                <tr class="@(device.IsHeating ? "on" : device.IsPreheating ? "pre" : "")">
                    <th>@device.ZoneName</th>
                    <td>@device.ActualTemp</td>
                    <td>@device.SetTemp</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<NeoDevice>? devices;

    protected override async Task OnInitializedAsync()
    {
        var stoppingToken = CancellationToken.None;
        await HeatingService.Init(stoppingToken);
        devices = await HeatingService.GetDevices(stoppingToken);
        await HeatingService.Cleanup(stoppingToken);
    }
}
