@page "/"

<PageTitle>Index</PageTitle>

@using NeoConnect
@inject IHeatingService _heatingService
@attribute [StreamRendering]

@if (devices == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="live-data" class="row">
        
            @foreach (var device in devices.OrderByDescending(d => d.IsHeating || d.IsPreheating || d.TimerOn).OrderBy(d => !d.IsThermostat))
            {
            <div class="col-6" @key="device.DeviceId">
                <div class="card text-center mt-3">
                    <div class="card-body">
                        <p class="card-title truncate">@device.ZoneName</p>
                        <p class="card-text">
                            <span class="@((device.IsHeating || device.TimerOn) ? "on" : device.IsPreheating ? "pre" : "")" style="font-size:2em;">
                                @(device.IsThermostat? device.ActualTemp + "°": device.TimerOn ? "ON" : "OFF")
                            </span>
                        </p>
                        <p class="card-subtitle mb-2 text-muted">@(device.IsThermostat ? device.SetTemp + "°" : "n/a")</p>
                    </div>
                </div>
            </div>
            }    
        
    </div>
}

@code {
    private List<NeoDevice>? devices;

    protected override async Task OnInitializedAsync()
    {
        var stoppingToken = CancellationToken.None;
        await _heatingService.Init(stoppingToken);
        devices = await _heatingService.GetDevices(stoppingToken);
        await _heatingService.Cleanup(stoppingToken);
    }
}

