**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
*.md
LICENSE
.editorconfig

# NeoConnect specific
**/data/*.db
**/data/*.db-*
**/*.log
**/wwwroot/css/open-iconic/FONT-LICENSE
**/wwwroot/css/open-iconic/ICON-LICENSE
**/wwwroot/css/open-iconic/README.md
**/wwwroot/css/open-iconic/font/fonts/*.eot
**/wwwroot/css/open-iconic/font/fonts/*.otf
**/wwwroot/css/open-iconic/font/fonts/*.ttf

# Test projects
**/*Tests/
**/*.Tests/

# Temp files
**/AppData/
**/.DS_Store
**/Thumbs.db