

/* navbar */

.topnav #nav-items {
  display: none;
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.bars {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.banner {
  background-color: #020f3a;
  color: white;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}
.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}
.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

.nav-item .fa {
    width:2rem;
    font-size:1.1rem;
    top: -2px;
    vertical-align: text-top;
}

/* end of navbar */

.content {
    padding-top: 1rem;
}

.card {
    border-radius: 10px!important;
}

/* Heating Table */

#heating-table {
    overflow-x: scroll;
    overflow-y: visible;    
}

    #heating-table th, td {
        margin: 0;
        text-align: left;
        white-space: nowrap;
    }

    #heating-table .room {
        position: absolute;
        width: 5em;
        left: auto;
        top: auto;
    }

    #heating-table .heat.off {
        background-color: #f7f7f7
    }

#heating-table .heat.pre {
    background-color: #ff9c00;
}

#heating-table .heat.on {
    background-color: #e10202;
}

#heating-table .off.line  {
    border-left: 1px solid #dee2e6;
}

.on {
    color: #e10202;
}

.pre {
    color: #ff9c00;
}

.truncate {    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#components-reconnect-modal {
    display: none !important;
}
