@page "/"

<PageTitle>Home</PageTitle>

@* <h1>NeoConnect</h1> *@

<div class="jumbotron">
    <h1 class="display-4">NeoConnect</h1>
    <p class="lead">Smart management tools for your Heatmiser Neo System.</p>
    <hr class="my-4">
    <p>This Web UI sits on top of the NeoConnect system which runs automations based on external weather data. To manually run these automations, click the button below</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Run now</a>
    </p>
</div>
